.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #6f6e6e;
  margin-top: 50px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 25px;
}

.productCard {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  background-color: #4f4e4eb7;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.productCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.749);
}

.productImage {
  object-fit: cover;
}

.productInfo {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTitle {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
  color: #040404;
  text-align: center;
}

.productPrice {
  font-weight: 600;
  color: #007bff;
  margin-bottom: 15px;
}

.viewButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 100%;
}

.viewButton:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}

.dot {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #bbb;
  cursor: pointer;
  margin: 0 6px;
  transition: color 0.3s ease;
  padding: 0;
  line-height: 1;
}

.dot:hover {
  color: #007bff;
}

.activeDot {
  color: #007bff;
  font-weight: bold;
  cursor: default;
}

.oldPrice {
  text-decoration: line-through;
  color: #b6b6b6;
  margin-right: 8px;
}

.salePrice {
  color: #fd1d1d;
  font-weight: bold;
}

/* Light theme */
.lightContainer {
  background: #cdcdcd;
  color: #040404;
}

.lightContainer .productCard {
  background: #dfdfdf;
  border: 1px solid #ddd;
}

.lightContainer .oldPrice {
  text-decoration: line-through;
  color: #1b1b1b;
  margin-right: 8px;
}

.lightContainer .title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
  color: #282828;
  margin-top: 50px;
}

/* Dark theme */
.darkContainer {
  background: #1a1a1a;
  color: #f5f5f5;
}

.darkContainer .title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 50px;
}

.darkContainer .productCard {
  background: #2a2a2a;
  border: 1px solid #444;
}

.darkContainer .productCard:hover {
  box-shadow: 0 6px 12px rgba(199, 185, 185, 0.964);
}

.darkContainer .productTitle{
  color: #c0bfbf;
}
